openai==1.10.0
tiktoken
langchain-openai==0.0.8
langchain-community==0.0.30
psycopg2
langchain==0.1.14
python-dotenv
pgvector
pypdf
aryn-sdk
flask
flask-cors
bs4
flask-apscheduler
flask-socketio
arxiv
datasketch
pytest
lxml
hurry.filesize
langchain-ai
zon
pydantic==1.10.13

