tornado
python-dotenv
psycopg2-binary
numpy
pandas
langchain
langchain-openai
langchain-community
openai
python-magic
PyPDF2
beautifulsoup4
requests
pydantic
pgvector
aryn-sdk
flask
flask-cors
bs4
flask-apscheduler
flask-socketio
apscheduler
arxiv
datasketch
pytest
lxml
hurry.filesize
bcrypt
grobid-client-python
langchain-google-vertexai
google-generativeai
langchain-google-genai
biopython>=1.80
mcp

